@font-face {
    font-family: "B612";
    src: url(/B612-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "B612";
    src: url(/B612-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "B612";
    src: url(/B612-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "B612";
    src: url(/B612-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

* {
    font-family: "B612" !important;
}

:root {
    --airbus-green: #42bc5d;
    --airbus-yellow: #bcb936;
    --airbus-red: #632015;
    --airbus-blue: #208dce;
    --airbus-backlight: #d2b19e;
    --airbus-fg-blue: #2a3945;
    --airbus-bg-blue: #2b4259;
}