@import "tailwindcss";

@font-face {
    font-family: "B612";
    src: url("/B612-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "B612";
    src: url("/B612-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "B612";
    src: url("/B612-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "B612";
    src: url("/B612-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@theme {
    --font-airbus: "B612";

    --color-airbus-green: #42bc5d;
    --color-airbus-yellow: #bcb936;
    --color-airbus-red: #632015;
    --color-airbus-blue: #208dce;
    --color-airbus-backlight: #d2b19e;
    
    --color-airbus-fg-blue: #2a3945;
    --color-airbus-bg-blue: #2b4259;
}
